<h2>Remember when social media was fun?</h2>
<p>Let's bring that back. Get updated on your fam here.</p>

<h3>Why is famupdates better than those "other" social media sites? It's definitely not about looks.</h3>

<h3>If you're not paying for the product you are the product.</h3>
<ul>
  <li>famupdates is not selling your data (fuck Cambridge Analytica and all their ilk and anyone that does business with them)</li>
  <li>famupdates is not selling your attention (no advertising)</li>
</ul>
<p>How can famupdates do that? It's still in alpha currently. Once the product is more feature complete it will move to
a beta status. Once the major issues are ironed out and the major features completed it will move to a v1.0.0 release
state at which time it will become a paid-for product, priced low so it's not breaking the bank but high enough to
cover server costs. Currently targeting $1/month but that pricing isn't final and is subject to change.</p>

<h3>No Gamification</h3>
<p>Nothing has been designed to "trick" you into looking at things, or giving your attention to places you wouldn't
choose to put it. You want to see updates from people you follow? That's all this is. There's no bonuses, or rewards, or
badges, or any of that silliness to keep you "engaged" and coming back to the site. If it's interesting, come back
tomorrow.</p>

<h3>Fuck their algorithms</h3>
<p>You can actually "finish" looking at social media. The infinite news feed? Not the primary view. The main view for
famupdates is a list of the people you follow and their most recent status. Somebody spams constant status updates every
10 minutes and astroturfs things so you can't see updates from the other people you follow? Doesn't matter, they only
get one line on the main view. If you'd like to see what they've been up to you can visit their profile and view their
past statuses, but by default you're only going to see their latest one.</p>

<p>Algorithms that show you anything other than "most recent" are trying to game your attention. We don't do that.
There's no sneaky AI behind the scenes measuring how long you're looking at a post or what your clicking on or what can
be shown or sold to you next. Algorithms suck the fun out of social media so we don't use them. In exchange you'll pay
a small fee. Seems like a fair tradeoff.</p>

<p>"Most recent is technically an algorithm." Yes, that's true, but also fuck you. Don't get pedantic with this.</p>

<h3>What is famupdates missing?</h3>
<ol>
  <li>Privacy, by design. Everything you do here is public. Don't act like an asshole. Don't be abusive. Don't do
  anything illegal. Literally anyone can report you to the authorities and all your activity is public.</li>
  <li>Design aesthetic. I'm an engineer, haven't landed on what I want the "pretty" finished design to look like yet. If
  you have ideas or you're into that sort of thing let me know. <%= link_to "@davemcg3", "https://www.twitter.com/davemcg3" %>
  on Twitter.</li>
  <li>Moderation tools. I have this on the roadmap but I think "block" will do <em>most</em> things that are needed. If
  you find places where blocking people isn't working let me know and I'll fix it. If you have particular additional
  tools you would like to see implemented tell me: <%= link_to "@davemcg3", "https://www.twitter.com/davemcg3" %>
  on Twitter.</li>
</ol>

<h2>Your 20m social media fix</h2>
<p><%= button_to "Sign up here", new_user_registration_path, method: :get %></p>
