<h1>Privacy Policy</h1>

<p>
  You have no privacy on this site. Everything you do is public and can be seen and reported to the authorities by anyone.
</p>
<p>
  If the authorities request information about any user on the site it will be freely given, no warrant required. Act accordingly.
</p>
