<h1>Terms of Use</h1>

<p>
  Don't be shitty to other people.
</p>
<p>
  Don't hack the site.
</p>
<p>
  Terms of use can be unilaterally changed by the site owner at any time. Continued use of the site indicates an implicit agreement to the changed terms.
</p>
